.custom-scrollbar {
  overflow-y: scroll;
  max-height: 300px;
  /* Defina a altura máxima desejada */
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  /* Largura da barra de rolagem */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(124 58 237);
  /* Cor do polegar da barra de rolagem */
  border-radius: 4px;
  /* Borda arredondada do polegar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  /* Cor da faixa da barra de rolagem */
}